a.logoname{
	color: red!important;
}
.card-img{
  width: 250px;
  margin: 0;
  transition: 1s;
}
.card-img:hover {
  transform: scale(0.9);
  z-index: 1;
  opacity: 0.2;
  cursor: pointer;
}
 h5{
 	color: green;
 }